:host {
  display: block;
  flex: 1;
  
  ion-textarea {
    width: 100%;
    
    textarea {
      line-height: inherit;
      height: auto;
      min-height: 65px;
      --padding-top: 0px;
    }
  }
}
